@charset "UTF-8";
.info .box01 { padding: 5% 0; text-align: center; background: url('../img/info/box01_bg.jpg') center no-repeat; background-size: cover; }
.info .box01 img{ width: auto; max-width: 100%; }
.info .box01 h3{ padding: 0 0 3% 0; line-height: 1.5em; }
.info .box01 span{ display: inline-block; width: 50px; border:1px solid #777; }
.info .box01 h1{ padding: 3% 0; line-height: 1.5em; }
@media (max-width:991px) {
	.info .box01 { padding: 7% 0; }
	.info .box01 h3{ padding: 0 20px 3% 20px; }
	.info .box01 h1{ padding: 3% 20px; }
}

.info .video{position: relative; padding-bottom: 56.25%;}
.info .video iframe{position: absolute; width: 100%; height: 100%;}

.info .box02 { padding: 3% 0; text-align: center; color: #fff; background: url('../img/info/box02_bg.jpg') center no-repeat; background-size: cover; }
.info .box02 h1{ font-size: 3em; font-weight: 500; }
.info .box02 h2{ padding: 3% 0; color: #6cabe0; }
.info .box02 h5 { line-height: 1.5em; }
@media (max-width:991px) {
	.info .box02 { padding: 5% 0; }
	.info .box02 h1{ padding: 0 20px 0 20px; }
	.info .box02 h5{ padding: 0 20px; }
}

.info .box03 { padding: 5% 0; text-align: center; }
.info .box03 h1{ font-size: 3em; font-weight: 500; }
.info .box03 h2{ padding: 3% 0; }
.info .box03 img{ width: auto; max-width: 100%; }
@media (max-width:991px) {
	.info .box03 { padding: 7% 0; }
}

.partner .box01{ padding: 5% 0; text-align: center; }
.partner .box01 h1{  font-size: 3em; font-weight: 500; }
.partner .box01 p{ padding: 3% 0; }

.partner .box01 table{ font-size: 1.2em; }
.partner .box01 th{ padding: 0 20px 20px 0; }
.partner .box01 th div{ box-shadow: 20px 20px 0px #eee; }
.partner .box01 td{ padding: 0 3%; vertical-align: top; text-align: left; }
.partner .box01 h3{ padding: 0 0 1% 0; }
.partner .box01 dt{ float: left; padding: 5px 10px 5px 0; }
.partner .box01 dd{ padding: 5px 0; }
@media (max-width:991px) {
	.partner .box01 h1{ font-size: 2em; }
	.partner .box01 th{ display: block; width: 100%; }
	.partner .box01 td{ display: block; width: 100%; padding: 5%; }
}

.partner .box02{ padding: 3% 0; text-align: center; }
.partner .box02 h1{ padding: 0 0 2% 0; }
.partner .box02 li{ display: inline-block; padding: 0 3%; vertical-align: middle; }
.partner .box02 li p{ padding: 15px 0 0 0; }
.partner .box02 img{ width: auto; max-width: 100%; }

.partner .box03{ padding: 5% 0; text-align: center; }
.partner .box03 td{ padding: 5%; }
.partner .box03 h1{ padding: 0 0 10% 0; }
.partner .box03 a{ display: block; line-height: 40px; color: #fff; border-radius: 5px; }
.partner .box03 .join_btn{ background: #1379cd; }
.partner .box03 .faq_btn{ background: #003875; }
@media (max-width:991px) {
	.partner .box03 th{ display: block; }
	.partner .box03 td{ display: block; }
}