ul.mtree {
  opacity: 0;
  padding:0;
  width:100%;
  margin:0 auto;
  letter-spacing: -1px;
}
ul.mtree ul {
  margin-left: 1em;
  
}
ul.mtree li {
  list-style: none;
}
ul.mtree a {
  display: block;
}
ul.mtree li.mtree-node > a {
 font-size: 11pt;
 font-family: 'RixSGo M','NanumBarunGothicBold', 'RixSGo M', 'NanumBarunGothic', "Dotum", 'Gulim', sans-serif; 
}

ul.mtree a {
	border-bottom: 1px solid #8DB8FC; /***************1차 카테고리***************/ 
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  font-size: 11pt;
  font-family: 'RixSGo M','NanumBarunGothicBold', 'RixSGo M', 'NanumBarunGothic', "Dotum", 'Gulim', sans-serif; 
  line-height:30px;
}

ul.mtree.bubba ul {
  margin-left: 0;
}
ul.mtree.bubba ul li {
  font-size: 10pt;
}

ul.mtree.bubba > li {
  
}
ul.mtree.bubba > li:last-child {
  border-bottom: none;
}
ul.mtree.bubba li:last-child > a {
  border: none;
}
ul.mtree.bubba > li.mtree-open > a {
  background: #DDD;
}
ul.mtree.bubba li > a:hover {
  background: #DDD;
}
ul.mtree.bubba li.mtree-active > a {
  background: #FFC000;
  color: #FFF;
}
ul.mtree.bubba a {
  padding: 7px 0px 7px 1em;
}
ul.mtree.bubba li li > a {
  padding-left: 2em;
}
ul.mtree.bubba li li li > a {
  padding-left: 3em;
}
ul.mtree.bubba li li li li > a {
  padding-left: 4em;
}
ul.mtree.bubba li li li li li > a {
  padding-left: 5em;
}

ul.mtree.skinny li {
  font-size: 10pt;
}
ul.mtree.skinny a {
  padding: 0px 18px;
  color: #8DB8FC;
}
ul.mtree.skinny a:hover {
  text-decoration: underline;
}
ul.mtree.skinny li.mtree-node:before {
  float: left;
  margin-left: .5em;
  zoom: .8;
  margin-top: .1em;
  color: #8DB8FC;
}
ul.mtree.skinny li.mtree-open:before {
  content: '-';
  font-size: 12pt; 
  color: #fff;
  font-family: 'RixSGo EB','NanumBarunGothicBold', 'RixSGo M', 'NanumBarunGothic', "Dotum", 'Gulim', sans-serif; 
}
ul.mtree.skinny li.mtree-closed:before {
  content: '+';
  font-size: 12pt;
  color: #fff;
  font-family: 'RixSGo EB','NanumBarunGothicBold', 'RixSGo M', 'NanumBarunGothic', "Dotum", 'Gulim', sans-serif; 
}
ul.mtree.skinny ul > li:first-child {
  margin-top: .1em;
}
ul.mtree.skinny ul > li:last-child {
  margin-bottom: .3em;
}
ul.mtree.skinny ul a {
  color: #8DB8FC;
}

ul.mtree.transit {
  background: #76A4EF; /*******전체배경*******/
}
ul.mtree.transit ul {
  margin-left: 0;
}
ul.mtree.transit ul > li {/*******2.3차 하위메뉴*******/
  font-size: 10pt;
}
ul.mtree.transit li.mtree-node {
  position: relative;
}
ul.mtree.transit li.mtree-node > a:before {
  color: #fff;
 font-size: 11pt;
  font-family: 'RixSGo M', 'NanumBarunGothic', 'NanumBarunGothicBold', "Dotum", 'Gulim', sans-serif;
  position: absolute;
  right: 20px;
}
ul.mtree.transit li.mtree-open > a:before {/*-*/
	font-family: 'FontAwesome';
	src: url('../fonts/font_icon/fontawesome/fontawesome-webfont.eot?v=4.4.0');
	src: url('../fonts/font_icon/fontawesome/fontawesome-webfont.eot?#iefix&v=4.4.0')  format('embedded-opentype'), 
	url('fonts/font_icon/fontawesome/fontawesome-webfont.woff2?v=4.4.0')  format('woff2'),
	url('fonts/font_icon/fontawesome/fontawesome-webfont.woff?v=4.4.0')  format('woff'), 
	url('fonts/font_icon/fontawesome/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), 
	url('fonts/font_icon/fontawesome/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular')  
	format('svg');
	font-weight: normal;
	font-style: normal;
	content:'\f056';
	padding-right:3px;
	vertical-align: 2%;
  font-size: 12pt;
  color: #fff;
}
ul.mtree.transit li.mtree-closed > a:before {/*+*/
	font-family: 'FontAwesome';
	src: url('../fonts/font_icon/fontawesome/fontawesome-webfont.eot?v=4.4.0');
	src: url('../fonts/font_icon/fontawesome/fontawesome-webfont.eot?#iefix&v=4.4.0')  format('embedded-opentype'), 
	url('fonts/font_icon/fontawesome/fontawesome-webfont.woff2?v=4.4.0')  format('woff2'),
	url('fonts/font_icon/fontawesome/fontawesome-webfont.woff?v=4.4.0')  format('woff'), 
	url('fonts/font_icon/fontawesome/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), 
	url('fonts/font_icon/fontawesome/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular')  
	format('svg');
	font-weight: normal;
	font-style: normal;
	content:'\f055';
	padding-right:3px;
	vertical-align: 2%;
  font-size: 12pt;
  color: #fff;
}
ul.mtree.transit ul > li:first-child {
  margin-top: 1px;
}
ul.mtree.transit li.mtree-open > a {
  background: #4877C2;
}
ul.mtree.transit li > a:hover, ul.mtree.transit li.mtree-active > a {
  background: #6391DC;
  color: #FFF; 
  border-top: 1px solid rgba(255,255,255,0.3); 
  border-bottom: 1px solid rgba(255,255,255,0.3);/******카테고리 제목 hover**********/
}
ul.mtree.transit li.mtree-node > ul > li:last-child {
  margin-bottom:0;
  padding-bottom:0;
  border-bottom: 1px dotted rgba(255,255,255,0); /***************카테고리 끝단***************/ 
}
ul.mtree.transit li.mtree-node:last-child > ul > li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
ul.mtree.transit a {
  padding: 5px 0px 5px 0.8em;
  color: #fff;
}
ul.mtree.transit li li > a {
  padding-left: 1.6em;
  background: #8DB8FC;
  border-bottom: 1px solid rgba(255,255,255, 0.5);/***************2차 카테고리 끝단***************/ 
}
ul.mtree.transit li li li > a {
  padding-left: 2.4em;
}
ul.mtree.transit li li li li > a {
  padding-left: 3.2em;
}
ul.mtree.transit li li li li li > a {
  padding-left: 4em;
}

ul.mtree.jet ul {
  margin-left: 0;
}
ul.mtree.jet li {
  margin-bottom: 1px;
}
ul.mtree.jet li:last-child {
  margin-bottom: 0px;
}
ul.mtree.jet li:first-child {
  margin-top: 1px;
}
ul.mtree.jet li.mtree-active a {
  background: #E3E3E3;
}
ul.mtree.jet li.mtree-active li:last-child > a {
  border-radius: 0px 0px 3px 3px;
}
ul.mtree.jet li.mtree-active > a {
  background: #008cba;
  color: #FFF;
  border-radius: 3px 3px 0px 0px;
}
ul.mtree.jet li > a:hover {
  background: #FFC000;
  color: #FFF;
}
ul.mtree.jet a {
  padding: 5px 0px 5px 1em;
}
ul.mtree.jet li li > a {
  padding-left: 2em;
}
ul.mtree.jet li li li > a {
  padding-left: 3em;
}
ul.mtree.jet li li li li > a {
  padding-left: 4em;
}
ul.mtree.jet li li li li li > a {
  padding-left: 5em;
}

ul.mtree.nix {
  background: none;
}
ul.mtree.nix a {
  display: inline;
}
ul.mtree.nix ul {
  margin-left: 1em;
}
ul.mtree.nix ul > li {
  list-style-position: inside;
}
ul.mtree.nix li {
  list-style: disc;
}
