

 /*상단메뉴 영역*/
.nav {
	position:relative;
	display:inline-block;
	font-size:14px;
	/* margin-top:15px; */
}
.nav-list {
	text-align:left;margin-left:105px;
}
.nav-item {
	float:left;
	*display:inline;
	zoom:1;
	position:relative;
	
}
.nav-item a {font-family:'RixSGo M', "NanumGothicBold",  "NanumGothic", "돋움", "Tahoma", "Helvetica",  sans-serif;
	display:block;
	color:#FFF;
	padding:8px 20px;
	background:#42495A;
	border-bottom:1px solid #;
}
.nav-item > a:hover {
	color:#178cdb;
	background:#fff;
}

.nav-item:hover .nav-submenu {
	display:block;
}
/* Navigation submenu */
.nav-submenu {
	display:none;
	font-size:12px;
	position:absolute;
	left:0;
	width:100%;
	border: 1px solid #ddd;
}
.nav-submenu-item a {font-family:'RixSGo M', "NanumGothicBold",  "NanumGothic", "돋움", "Tahoma", "Helvetica",  sans-serif;
	background: #fff;
	display:block;
	padding:8px 20px;
	color: #333;
}
.nav-submenu-item a:hover { 
	color: #333;
	background: #fff;
	border-bottom:1px solid #434B5E;
}
/* Mobile navigation */
.nav-mobile {
	display:none; /* Hide from browsers that don't support media queries */
	cursor:pointer;
	position:absolute;
	top:0;
	right:0;
	background:#212634 url(../img/nav.svg) no-repeat center center;
	background-size:18px;
	height:38px;
	width:38px;
	/* margin-top:-5px;
	margin-right:5px; */
}
/* Mobile navigation, clickable area for revealing <ul> */
.nav-click {
	position:absolute;
	top:0;
	right:0;
	display:none;
	/* border-left:1px solid #464E62; */
	height:38px;
	width:38px;
	cursor:pointer;
	padding-top: 15px;
	padding-bottom: 10px;
	background: #606D8C;
}
.nav-click i {
	display:block;
	height:37px;
	width:36px;
	background:url(../img/drop.svg) no-repeat center center;
	background-size:20px;
}
.nav-click:hover {
	background-color:#178cdb;
	color: #fff;
}
.nav-rotate {
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}

/*------------------------------------*\
    Media Queries
\*------------------------------------*/

@media only screen and (min-width: 320px) and (max-width: 1100px) {
.nav {
	font-size:12px;
}
.nav-list {
	margin-left:0px;
}
	.nav-mobile {
		display:block;
	}
	.nav {
		width:100%;
		padding:50px 0 0;
	}
	.nav-list {
		display:none;
		margin-top: -12px;
	}
	.nav-item {
		width:100%;
		float:none;
	}
	.nav-item > a {
		padding:15px;
	}
.nav-item a {
	border-bottom:1px solid #70788E;
}
	.nav-click {
		display:block;
	}
	.nav-mobile-open {
		border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
	}
	.nav-item:hover .nav-submenu {
		display:none;
	}
	.nav-submenu {
		position:static;
		width:100%;
	}
.nav-submenu-item a {
	padding:8px 30px;
}
}
/*******************상단메뉴 끝*****************************/

.itemcont_btn1 { 
	border-radius:3px;  
	color:#fff; font-size:8pt; 
	padding:20px 10px 20px 10px; margin-top:20px; 
	text-decoration:none !important; 
	text-align:center; 
	background-color:#000;}
.itemcont_btn1:hover{ color:#fff; background-color:#777;  
	font-size:8pt; text-align:center;}
a.itemcont_btn1 { color:#ffffff;  letter-spacing: -1px;}
a.itemcont_btn1 a:link {color:#ffffff; text-decoration:none;}
a.itemcont_btn1 a:visited {color:#ffffff;}

.itemcont_btn2 { 
	border-radius:3px;  color:#fff; font-size:8pt; 
	padding:20px 15px 20px 15px;  margin:0 2px 0 2px;  
	text-align:center; 
	background-color:#DA707E;}
.itemcont_btn2:hover{ color:#fff; background-color:#A83E4C;  
	font-size:8pt; text-align:center;}
a.itemcont_btn2 { color:#ffffff;  letter-spacing: -1px;}
a.itemcont_btn2 a:link {color:#ffffff; text-decoration:none;}
a.itemcont_btn2 a:visited {color:#ffffff;}

.itemcont_btn3 { 
	border-radius:3px;  color:#fff; font-size:8pt; 
	padding:20px 15px 20px 15px;  margin:0 2px 0 2px; 
	text-decoration:none !important; text-align:center; 
	background-color:#606D8C;}
.itemcont_btn3:hover{ color:#fff; background-color:#414C66;  
	font-size:8pt; text-align:center;}
a.itemcont_btn3 { color:#ffffff;  letter-spacing: -1px;}
a.itemcont_btn3 a:link {color:#ffffff; text-decoration:none;}
a.itemcont_btn3 a:visited {color:#ffffff;}


.itemcont_btn4 { 
	border-radius:3px;  color:#fff; font-size:8pt; 
	padding:20px 10px 20px 10px;  margin:0 2px 0 2px; 
	text-decoration:none !important; text-align:center; 
	background-color:#606D8C;}
.itemcont_btn4:hover{ color:#fff; background-color:#414C66;  
	font-size:8pt; text-align:center;}
a.itemcont_btn4 { color:#ffffff;  letter-spacing: -1px;}
a.itemcont_btn4 a:link {color:#ffffff; text-decoration:none;}
a.itemcont_btn4 a:visited {color:#ffffff;}


select.itemSelect_mo {
	font-size:9pt; 
	margin:3px;
	border-radius:7px;
	background-color: #EFEFEF; 
	border:2px solid #9C9C9C;
	width:100px;}

select.itemSelect_mo2 {
	font-size:9pt; 
	margin:12px;
	border-radius:7px;
	background-color: #EFEFEF; 
	border:2px solid #9C9C9C;
	width:150px;}

input.file_text_mo2{
	float:left;width:300px;
	background:#fff;
	vertical-align:middle;
	margin:3px; border:0px ;
	font-size:9pt;}

select.itemSelect_mo3 {
	border-radius:9px;
	width:180px;font-size:9pt;height:auto;
	padding:4px; border:2px solid #9C9C9C;
	vertical-align:middle;
	margin:3px; 
	background-color:#F6F6F6
	}

input.formText_mobile{
	border-radius:5px; height:20px;
	font-size:9pt;margin:1px;padding:2px 5px;
	border:2px solid #9C9C9C;vertical-align:middle; 
	text-align:left; background-color:#F6F6F6
	width:180px;}


.itemtable_default_bt1 { 
	border-radius:3px;  
	color:#fff; font-size:8pt; 
	padding:8px 20px 8px 20px; 
	margin:0 2px 0 2px;
	text-align:center; 
	background-color:#1379cd;
	border: 1px solid #1379cd;
}
.itemtable_default_bt1:hover{ 
	color:#1379cd; background-color:#fff;  
	font-size:8pt; text-align:center;}
a.itemtable_default_bt1 { color:#ffffff;  letter-spacing: -1px;}
a.itemtable_default_bt1 a:link {color:#ffffff; text-decoration:none;}
a.itemtable_default_bt1 a:visited {color:#ffffff;}


.itemtable_default_bt2 { border-radius:3px;  color:#fff;
	line-height:30px;
	font-size:8pt; padding:8px 20px 8px 20px;
	margin:0 2px 0 2px;
	text-align:center; background-color:#76923C;}
.itemtable_default_bt2:hover{ 
	color:#fff; background-color:#4F6128;  
	font-size:8pt; text-align:center;}
a.itemtable_default_bt2 { color:#ffffff;  letter-spacing: -1px;}
a.itemtable_default_bt2 a:link {color:#ffffff; text-decoration:none;}
a.itemtable_default_bt2 a:visited {color:#ffffff;}


.itemtable_default_bt3 { 
	border-radius:3px;  
	color:#fff; font-size:8pt; 
	padding:8px 10px 8px 10px; 
	margin:0 2px 0 2px;
	text-align:center; background-color:#DA707E;}
.itemtable_default_bt3:hover{ 
	color:#fff; background-color:#A83E4C;  
	font-size:8pt; text-align:center;}
a.itemtable_default_bt3 { color:#ffffff;  letter-spacing: -1px;}
a.itemtable_default_bt3 a:link {color:#ffffff; text-decoration:none;}
a.itemtable_default_bt3 a:visited {color:#ffffff;}


.itemtable_default_bt4 { 
	border-radius:3px;  
	color:#fff;
	line-height:30px;
	font-size:14px; 
	padding: 5px 12px 5px 12px;
	margin:0 2px 0 2px;
	text-align:center; 
	background-color:#1379cd;
	border: 1px solid #1379cd;
	font-weight: bold;
}

@media(min-width:1100px){
	.itemtable_default_bt4{
		font-size: 16px;
		padding: 4%;
		margin: 0 2px 0 2px;
	}
}

@media(max-width:1100px){
	.itemtable_default_bt4{
		background: #fff;
		color: #6a6a6a;
		border: none;
	}
}

.itemtable_default_bt4:hover{ 
	font-weight: bold;
	color:#1379cd !important; 
	background-color:#fff;;  
	text-align:center;}
/* a.itemtable_default_bt4 { color:#ffffff;  letter-spacing: -1px;}
a.itemtable_default_bt4 a:link {color:#ffffff; text-decoration:none;}
a.itemtable_default_bt4 a:visited {color:#ffffff;} */


.oolimbtn-botton5_itembtn{display:inline-block; text-align:center;
background:#333; 
border-radius:7px;
height:62px; line-height:62px;
padding:0 20px; margin:0px 1px 0 1px;
text-transform:uppercase;/*!영문대문자로 임의변경 */
color:#fff; float:left;font-family:'RixSGo M', "NanumGothicBold",  "NanumGothic", "돋움", "Tahoma", "Helvetica",  sans-serif;}
.oolimbtn-botton5_itembtn:link{background:#333;text-decoration:none;color:#fff;}
.oolimbtn-botton5_itembtn:visited{background:#F57070;text-decoration:none;color:#fff;}
.oolimbtn-botton5_itembtn:hover{background:#ED7272;text-decoration:none;color:#fff;}

#itemtable_default0 {clear:both;} 
#itemtable_default1 {clear:both; float:left;} 
.itemtable_default1 {padding:0;}
#itemtable_default2 {float:left;} 
.itemtable_default2 {padding:0;margin:5px 0 0 0; }

#itemtable_default3 {margin:0 auto; width:50%;} 
#itemtable_default4 {clear:both; float:left; width:50%;} 
.itemtable_default4{margin:0 auto; padding:0; text-align:center;}

#itemtable_default5 {float:left; width:50%;} 
.itemtable_default5{margin:0 auto; padding:0; text-align:center;}


.item_default_bt1 {
	border-radius:3px;  color:#fff; 
	font-size:8pt; padding:8px 20px 8px 20px;
	margin:2px 2px 0 2px; 
	text-align:center; 
	background-color:#606D8C;}
.item_default_bt1:hover{ 
	color:#fff; 
	background-color:#414C66;  
	font-size:8pt; text-align:center;}
a.item_default_bt1 { color:#ffffff;  letter-spacing: -1px;}
a.item_default_bt1 a:link {color:#ffffff; text-decoration:none;}
a.item_default_bt1 a:visited {color:#ffffff;}

.item_default_bt2 {
	border-radius:3px;  color:#fff; 
	font-size:8pt; padding:8px 20px 8px 20px;
	margin:2px 2px 0 2px; 
	text-align:center; 
	background-color:#DA707E;}
.item_default_bt2:hover{ 
	color:#fff; 
	background-color:#414C66;  
	font-size:8pt; text-align:center;}
a.item_default_bt2 { color:#ffffff;  letter-spacing: -1px;}
a.item_default_bt2 a:link {color:#ffffff; text-decoration:none;}
a.item_default_bt2 a:visited {color:#ffffff;}


#itemtable_itemcont {margin:0 auto; width:100%; } 
#itemtable_itemLeft {clear:both; float:left; background-color:#;} 
.itemtable_itemLeft{padding:5px;}
#itemtable_itemCenter {float:left; background-color:#;} 
.itemtable_itemCenter{padding:5px;}
#itemtable_itemRight {float:left;padding: 5px 0 0 0; background-color:#;} 
.itemtable_itemRight {padding: 0 0 0 0;}


#customertable_divcont {margin:0 auto; background-color:#ffffff;} 
#customertable_divLeft {clear:both; float:left; } 
  .customertable_divLeft{margin:0 auto; text-align:center;}
#customertable_divcenter_1 {float:left;} 
  .customertable_divcenter_1{margin:0 auto; padding:0; text-align:center;}
  .customertable_divcenter_1M{margin:20px 0 0 0; padding:10px 0 0 0; text-align:center;}
  .customertable_divcenter_1B{margin:0 0 0 0; padding:10px 0 0 0; text-align:center;}
  .customertable_divcenter_1M_BB{margin:20px 0 0 0; padding:10px 0 0 0; text-align:center;}
  .customertable_divcenterM  { width:100%; margin:0 auto;} 

.customertable_padding1 {margin-right:10px}

.table_all_moA {margin:0 0 0 5px}
/* #customertable_divLeft_view {width:60%;clear:both;margin:0 0 0 0; float:left;} 
#customertable_divcenter_1_view {width:39%;float:left;}  */
.noneoolimmoL_on {display: none;}
.noneoolimmoM_on {display: none;}
.noneoolimmoA_on {display: none;}
.noneoolim_view {display: none;}
.noneoolimmenu {display: none;}

@media screen and (max-height: 180px), screen and (max-width: 580px) {
.customertable_padding1 {margin-right:0; margin-bottom:30px; }
input.formText_mobile{width:90%;}

select.itemSelect_mo3 {
	font-size:9pt; 
	margin:3px;
	border-radius:7px;
	background-color: #EFEFEF; 
	border:2px solid #9C9C9C;
	width:130px;}

.noneoolimmoL {display: none;}
.box_cmo{width:90%;}
.noneoolimmoL_on {display: block; font-size:8pt;line-height:12px;}
.noneoolimmoM_on {display: block; text-align:center;  font-size:8pt;line-height:12px;}
.sensbody {font-size:8pt;font-family:'RixSGo M',"NanumGothic", "돋움", "Tahoma", "Helvetica",  sans-serif;}
.ranking_bgM { 
	font: 9pt 'RixSGo M','NanumGothicBold', 'NanumGothic',ng;
	padding:5px 10px 5px 10px;
	}
input.formText_mo{width:90%;border-radius:5px; 
	height:20px;font-size:9pt;margin:1px;
	padding:2px 5px;border:2px solid #9C9C9C;
	vertical-align:middle; 
	text-align:left; 
	background-color:#F6F6F6}
#itemtable_default3 {margin:0 auto; width:100%;} 
#itemtable_itemcont {margin:0 auto; background-color:#;} 
#itemtable_itemLeft {clear:both;float:left; background-color:#;} 
#itemtable_itemCenter {float:left; background-color:#;} 
#itemtable_itemRight {float:left; background-color:#;} 

.customertable_divcenter_1bbs {clear:both;width:100%;}
.itemtable_default_bt1 {float:left; width:50%;margin:3px;}
.itemtable_default_bt2 {float:left; width:50%;margin:3px;}

}

@media screen and (max-height: 180px), screen and (max-width: 980px) {
.noneoolimmoA_on {display: block; text-align:center;  font-size:8pt;line-height:12px; margin:20px 0 0 0;}
.noneoolimmo {display: none;} /*모바일에서 감춤*/
.noneoolim_view {display: block;}


.tabletd_small, .contenM, .tabletd_small, .tabletd_Lmall, .tabletd_all {font-size:9pt;}
.table_all_moA {margin:5px 0 0 0}
.oolimbtn-botton5_itembtn{
	display:inline-block; 
	text-align:center;
	background:#333; 
	border-radius:5px;
	height:40px; line-height:15px;
	padding:25px 10px 0 10px; margin:0px 1px 0 1px;
	font-size:9pt;}
.oolimbtn-botton5_itembtn:link{background:#333;text-decoration:none;color:#fff;}
.oolimbtn-botton5_itembtn:visited{background:#F57070;text-decoration:none;color:#fff;}
.oolimbtn-botton5_itembtn:hover{background:#ED7272;text-decoration:none;color:#fff;}
#customertable_divcont { background-color:#ffffff;} 
#customertable_divLeft {clear:both;margin:0 0 0 0; float:left;} 
  .customertable_divLeft{text-align:left;padding-top:0;}
#customertable_divcenter_1 {float:left;width:100%;} 
  .customertable_divcenter_1{text-align:left;}
  .customertable_divcenter_1bbs{text-align:left;padding:5px;}
  .customertable_divcenter_1ce{text-align:center;padding-top:5px;}

.itemtable_default_bt3 {float:left; width:60%;margin:3px;}
.itemtable_default_bt4 {float:left; width:60%;margin:3px; white-space:nowrap; text-overflow:ellipsis;  }

#customertable_divLeft_view {width:100%;clear:both;margin:0 0 0 0; float:left;} 
#customertable_divcenter_1_view {width:100%;float:left;} 
input.file_text_mo2{
	float:left;width:200px;
	background:#fff;
	vertical-align:middle;
	margin:3px; border:0px ;
	font-size:9pt;}
}


@media screen and (max-height: 180px), screen and (max-width: 880px) {
.itemcont_btn1{ padding:10px 10px 10px 10px;}
.itemcont_btn2 { padding:10px 30px 10px 30px; }
.itemcont_btn3 { padding:10px 30px 10px 30px; }
.itemcont_btn4 { padding:10px 10px 10px 10px; }
.customertable_divcenter_1M_BB{margin:10px 0 20px 0;}

select.itemSelect_mo2 {
	font-size:9pt; 
	margin:0;
	border-radius:7px;
	background-color: #EFEFEF; 
	border:2px solid #9C9C9C;
	width:150px;}
input.formText_mo{width:70%}

}


@media screen and (max-height: 180px), screen and (max-width: 1100px) {
#itemtable_itemcont {margin:0 auto; width:100%; background-color:#;} 
#itemtable_itemLeft {clear:both; float:left; background-color:#;} 
#itemtable_itemCenter {float:left;  background-color:#;} 
#itemtable_itemRight {float:left; background-color:#;}
.noneoolim{display: none;} /*테블렛에서 감춤*/
.noneoolimmenu {display: block;}
}

